In [3]:
import shapefile
import pandas as pd
import numpy as np
from place_tree import PlaceInfo
from search_tree import LatLngSearchTree
file_list = "place_files.txt"
files = open(file_list, 'r')
r = ["./POIData/"+line.replace("\n","") for line in files]

In [4]:
%%time
big = PlaceInfo(r)

CPU times: user 47.5 s, sys: 1.62 s, total: 49.2 s
Wall time: 49.7 s

In [5]:
df = big.return_db_information()

In [6]:
df.head()

,NELat,NELng,SWLat,SWLng,land_area,name,population,total_area
0,32.983407,-87.148660,32.908008,-87.204744,22739426,Brent,4772,22817337
1,31.087048,-85.839719,31.001983,-85.917436,41109632,Geneva,4335,41597082
2,32.537983,-86.307299,32.467912,-86.356325,17855610,Coosada,1301,18476132
3,32.583532,-86.301588,32.518543,-86.382203,16249684,Elmore,1441,16611947
4,32.595000,-86.152776,32.454971,-86.258916,28320364,Wetumpka,8278,29456396

In [4]:
df[df.name == "Laramie"]

,NELat,NELng,SWLat,SWLng,land_area,name,population,total_area
19466,41.335804,-105.528204,41.277332,-105.697156,47485330,Laramie,32473,47544848

In [10]:
df2 = df.drop(["land_area", "population", "total_area"], axis = 1)

In [12]:
df2.to_csv("speed_test.csv")

In [ ]:
df2

In [1]:
df2.head(100)

NameError: name 'df2' is not defined

In [8]:
df.shape

(19493, 8)

In [5]:
%%time
stBig = LatLngSearchTree(['NELat','NELng', 'SWLat','SWLng'])
stBig.fit_tree(big.return_db_information())

right 39.731288
left 42.100744
right 40.807547
left 41.380744
right 41.06736
right 41.218551999999995
right 41.301303
left 41.340922
right 41.322950999999996
right 41.333853
left 41.337764
left 41.336059999999996
right 41.33565
left 41.335967
Wall time: 2min 24s

In [6]:
stBig.search(41.3,-105.6, .25)

39.731288 NELat 0.0036179450072358903
39.734905945007235 39.727670054992764
right
-----------
42.100744 NELat 0.0036179450072358903
42.104361945007234 42.09712605499276
left
-------------
40.807547 NELat 0.0036179450072358903
40.811164945007235 40.803929054992764
right
-----------
41.380744 NELat 0.0036179450072358903
41.384361945007235 41.377126054992765
left
-------------
41.06736 NELat 0.0036179450072358903
41.070977945007236 41.063742054992765
right
-----------
41.218551999999995 NELat 0.0036179450072358903
41.22216994500723 41.21493405499276
right
-----------
41.301303 NELat 0.0036179450072358903
41.30492094500723 41.29768505499276
both
------------
41.264309 NELat 0.0036179450072358903
41.26792694500723 41.26069105499276
right
-----------
41.285322 NELat 0.0036179450072358903
41.288939945007236 41.281704054992765
right
-----------
41.293828 NELat 0.0036179450072358903
41.29744594500723 41.29021005499276
right
-----------
41.297109 NELat 0.0036179450072358903
41.300726945007234 41.293491054992764
both
------------
41.295611 NELat 0.0036179450072358903
41.299228945007236 41.291993054992766
right
-----------
41.295840999999996 NELat 0.0036179450072358903
41.29945894500723 41.29222305499276
right
-----------
41.29904 NELat 0.0036179450072358903
41.30265794500723 41.29542205499276
both
------------
41.298288 NELat 0.0036179450072358903
41.301905945007235 41.294670054992764
both
------------
41.297340999999996 NELat 0.0036179450072358903
41.30095894500723 41.29372305499276
both
------------
41.299866 NELat 0.0036179450072358903
41.30348394500724 41.296248054992766
both
------------
41.300498999999995 NELat 0.0036179450072358903
41.30411694500723 41.29688105499276
both
------------
41.340922 NELat 0.0036179450072358903
41.344539945007234 41.337304054992764
left
-------------
41.322950999999996 NELat 0.0036179450072358903
41.32656894500723 41.31933305499276
left
-------------
41.309849 NELat 0.0036179450072358903
41.313466945007235 41.306231054992764
left
-------------
41.304296 NELat 0.0036179450072358903
41.307913945007236 41.300678054992765
left
-------------
41.302398 NELat 0.0036179450072358903
41.30601594500723 41.29878005499276
both
------------
41.301328 NELat 0.0036179450072358903
41.30494594500723 41.29771005499276
both
------------
41.303183 NELat 0.0036179450072358903
41.30680094500723 41.29956505499276
both
------------
41.304294999999996 NELat 0.0036179450072358903
41.30791294500723 41.30067705499276
left
-------------

[           NELat      NELng      SWLat      SWLng  land_area      name  \
 4306   41.297109 -89.492316  41.288346 -89.519906    1179431  Tiskilwa
 15557  41.296732 -80.386890  41.270706 -80.443555    7797425     Clark

        population  total_area
 4306          772     1179431
 15557         600     9376670  ,
           NELat      NELng      SWLat      SWLng  land_area    name  \
 5270  41.297341 -91.458068  41.291063 -91.477844     635743  Cotter

       population  total_area
 5270          47      635743  ,
            NELat      NELng      SWLat      SWLng  land_area        name  \
 5755   41.298288 -94.546831  41.281644 -94.571387    2475331  Fontanelle
 10510  41.297968 -99.911544  41.284674 -99.931041    1806776    Callaway

        population  total_area
 5755          607     2475331
 10510         527     1806776  ,
            NELat      NELng      SWLat      SWLng  land_area             name  \
 4291   41.298661 -89.354328  41.276839 -89.373985    3721577  Bureau Junction
 14904  41.299040 -75.775988  41.280811 -75.815412    3495651           Laflin

        population  total_area
 4291          307     3892743
 14904        1441     3495651  ,
            NELat      NELng      SWLat      SWLng  land_area         name  \
 3829   41.299673 -88.294755  41.293950 -88.305199     476591  Carbon Hill
 10541  41.299866 -98.364214  41.288592 -98.373535     796837      Cushing

        population  total_area
 3829          337      476591
 10541          33      796837  ,
            NELat      NELng      SWLat      SWLng  land_area     name  \
 10795  41.300499 -96.602510  41.294725 -96.610912     338541    Colon
 15255  41.299901 -75.885129  41.275530 -75.906292    1785787  Luzerne

        population  total_area
 10795         104      340916
 15255        2813     1785787  ,
           NELat     NELng      SWLat      SWLng  land_area         name  \
 5791  41.301303 -95.90284  41.272428 -95.929651    4770951  Carter Lake

       population  total_area
 5791        3784     5225707  ,
            NELat      NELng      SWLat      SWLng  land_area        name  \
 13192  41.301323 -84.539136  41.278033 -84.563155    4034671    Sherwood
 15582  41.301328 -75.849087  41.263581 -75.885129    3401002  Forty Fort

        population  total_area
 13192         810     4074687
 15582        4101     4077046  ,
            NELat      NELng      SWLat      SWLng  land_area     name  \
 3343   41.302398 -90.281160  41.287525 -90.300377    2567043  Andover
 12844  41.301403 -82.001941  41.262987 -82.074862   12211557  Grafton

        population  total_area
 3343          573     2567043
 12844        5878    12287894  ,
            NELat      NELng      SWLat      SWLng  land_area           name  \
 3813   41.303183 -88.242461  41.245672 -88.314271   14246112      Coal City
 13147  41.302487 -81.079310  41.269547 -81.108337    6577946  Garrettsville

        population  total_area
 3813         5368    14489943
 13147        2329     6618683  ,
            NELat      NELng      SWLat      SWLng  land_area      name  \
 3660   41.304295 -89.779655  41.289171 -89.799250    2703568  Neponset
 13704  41.303938 -82.582203  41.272755 -82.612512    3068599     Milan

        population  total_area
 3660          441     2703568
 13704        1335     3118284  ]

In [4]:
%%time
df = pd.read_csv('subest2018_all.csv', encoding = "ISO-8859-1" )
sf = shapefile.Reader("./POIData/tl_2018_08_place.shp").shapeRecords()
rec = sf[0]
pts = np.array(rec.shape.points)

file_list = "place_files.txt"
files = open(file_list, 'r')
r = ["./POIData/"+line.replace("\n","") for line in files]
t = PlaceInfo(["./POIData/tl_2018_08_place.shp","./POIData/tl_2018_56_place.shp"])
print("done")
big = PlaceInfo(r)
# df2 = t.return_db_information()
# st = LatLngSearchTree(['NELat','NELng', 'SWLat','SWLng'])

# st.fit_tree(df2)
# print(st.find_poi(41.3,-105.6, .25))
print("Fiting")
stBig = LatLngSearchTree(['NELat','NELng', 'SWLat','SWLng'])
stBig.fit_tree(big.return_db_information())

print(stBig.find_poi(25.814, -80.131, .25))

done

KeyboardInterrupt:

In [4]:
stBig.search(41.3,-105.6, .25)

[           NELat      NELng      SWLat      SWLng  land_area      name  \
 4306   41.297109 -89.492316  41.288346 -89.519906    1179431  Tiskilwa
 15557  41.296732 -80.386890  41.270706 -80.443555    7797425     Clark

        population  total_area
 4306          772     1179431
 15557         600     9376670  ,
           NELat      NELng      SWLat      SWLng  land_area    name  \
 5270  41.297341 -91.458068  41.291063 -91.477844     635743  Cotter

       population  total_area
 5270          47      635743  ,
            NELat      NELng      SWLat      SWLng  land_area        name  \
 5755   41.298288 -94.546831  41.281644 -94.571387    2475331  Fontanelle
 10510  41.297968 -99.911544  41.284674 -99.931041    1806776    Callaway

        population  total_area
 5755          607     2475331
 10510         527     1806776  ,
            NELat      NELng      SWLat      SWLng  land_area             name  \
 4291   41.298661 -89.354328  41.276839 -89.373985    3721577  Bureau Junction
 14904  41.299040 -75.775988  41.280811 -75.815412    3495651           Laflin

        population  total_area
 4291          307     3892743
 14904        1441     3495651  ,
            NELat      NELng      SWLat      SWLng  land_area         name  \
 3829   41.299673 -88.294755  41.293950 -88.305199     476591  Carbon Hill
 10541  41.299866 -98.364214  41.288592 -98.373535     796837      Cushing

        population  total_area
 3829          337      476591
 10541          33      796837  ,
            NELat      NELng      SWLat      SWLng  land_area     name  \
 10795  41.300499 -96.602510  41.294725 -96.610912     338541    Colon
 15255  41.299901 -75.885129  41.275530 -75.906292    1785787  Luzerne

        population  total_area
 10795         104      340916
 15255        2813     1785787  ,
           NELat     NELng      SWLat      SWLng  land_area         name  \
 5791  41.301303 -95.90284  41.272428 -95.929651    4770951  Carter Lake

       population  total_area
 5791        3784     5225707  ,
            NELat      NELng      SWLat      SWLng  land_area        name  \
 13192  41.301323 -84.539136  41.278033 -84.563155    4034671    Sherwood
 15582  41.301328 -75.849087  41.263581 -75.885129    3401002  Forty Fort

        population  total_area
 13192         810     4074687
 15582        4101     4077046  ,
            NELat      NELng      SWLat      SWLng  land_area     name  \
 3343   41.302398 -90.281160  41.287525 -90.300377    2567043  Andover
 12844  41.301403 -82.001941  41.262987 -82.074862   12211557  Grafton

        population  total_area
 3343          573     2567043
 12844        5878    12287894  ,
            NELat      NELng      SWLat      SWLng  land_area           name  \
 3813   41.303183 -88.242461  41.245672 -88.314271   14246112      Coal City
 13147  41.302487 -81.079310  41.269547 -81.108337    6577946  Garrettsville

        population  total_area
 3813         5368    14489943
 13147        2329     6618683  ,
            NELat      NELng      SWLat      SWLng  land_area      name  \
 3660   41.304295 -89.779655  41.289171 -89.799250    2703568  Neponset
 13704  41.303938 -82.582203  41.272755 -82.612512    3068599     Milan

        population  total_area
 3660          441     2703568
 13704        1335     3118284  ]

In [24]:
st.find_poi(25.814, -80.131, .25)

In [26]:
stBig.find_poi(25.814, -80.131, .25)

In [11]:
stBig.head.left_child.left_child.left_child

['NELat', 31.311916999999998]

In [45]:
df = big.return_db_information()

In [50]:
df.shape

(19493, 8)

In [46]:
df[df.name == "Miami"]

,NELat,NELng,SWLat,SWLng,land_area,name,population,total_area
689,33.404608,-110.859712,33.381582,-110.891780,2270920,Miami,1774,2270920
2216,25.855786,-80.132179,25.709042,-80.318608,93228983,Miami,470914,145230071
10183,39.333916,-93.212804,39.307979,-93.235073,1446987,Miami,170,1632883
14009,36.929050,-94.833413,36.833570,-94.909520,28070710,Miami,13132,28289723
17044,35.701792,-100.629468,35.680110,-100.652786,3028642,Miami,580,3028642

In [49]:
potentials = pd.concat(stBig.search(25.814, -80.131, .25))
potentials

,NELat,NELng,SWLat,SWLng,land_area,name,population,total_area
2254,25.811679,-80.289170,25.806419,-80.305295,760192,Virginia Gardens,2451,760192
2206,25.855255,-80.320857,25.782543,-80.387242,35787577,Doral,61824,39046176
2263,25.840061,-80.258790,25.802878,-80.306048,7455958,Miami Springs,14315,7729910

In [53]:
l1 = [1,*[2,3]]
l2 = [2]
l3 = [3]
l4 = [4]
l5 = [5]
l6 = [6]

In [54]:
[*l1, *l2]

[1, 2, 3, 2]

In [ ]:
self.buffer_to_deg_lat(buffer)

In [18]:
%%time

Wall time: 2min 24s

In [23]:
st.find_poi(25.814, -80.131, .25)

In [22]:
%%timeit
st.find_poi(25.814, -80.131, .25)

6.29 ms ± 877 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [19]:
file_list = "place_files.txt"
files = open(file_list, 'r')
r = ["./POIData/"+line.replace("\n","") for line in files]
r

['./POIData/tl_2018_01_place.shp',
 './POIData/tl_2018_02_place.shp',
 './POIData/tl_2018_04_place.shp',
 './POIData/tl_2018_05_place.shp',
 './POIData/tl_2018_06_place.shp',
 './POIData/tl_2018_08_place.shp',
 './POIData/tl_2018_09_place.shp',
 './POIData/tl_2018_10_place.shp',
 './POIData/tl_2018_11_place.shp',
 './POIData/tl_2018_12_place.shp',
 './POIData/tl_2018_13_place.shp',
 './POIData/tl_2018_15_place.shp',
 './POIData/tl_2018_16_place.shp',
 './POIData/tl_2018_17_place.shp',
 './POIData/tl_2018_18_place.shp',
 './POIData/tl_2018_19_place.shp',
 './POIData/tl_2018_20_place.shp',
 './POIData/tl_2018_21_place.shp',
 './POIData/tl_2018_22_place.shp',
 './POIData/tl_2018_23_place.shp',
 './POIData/tl_2018_24_place.shp',
 './POIData/tl_2018_25_place.shp',
 './POIData/tl_2018_26_place.shp',
 './POIData/tl_2018_27_place.shp',
 './POIData/tl_2018_28_place.shp',
 './POIData/tl_2018_29_place.shp',
 './POIData/tl_2018_30_place.shp',
 './POIData/tl_2018_31_place.shp',
 './POIData/tl_2018_32_place.shp',
 './POIData/tl_2018_33_place.shp',
 './POIData/tl_2018_34_place.shp',
 './POIData/tl_2018_35_place.shp',
 './POIData/tl_2018_36_place.shp',
 './POIData/tl_2018_37_place.shp',
 './POIData/tl_2018_38_place.shp',
 './POIData/tl_2018_39_place.shp',
 './POIData/tl_2018_40_place.shp',
 './POIData/tl_2018_41_place.shp',
 './POIData/tl_2018_42_place.shp',
 './POIData/tl_2018_44_place.shp',
 './POIData/tl_2018_45_place.shp',
 './POIData/tl_2018_46_place.shp',
 './POIData/tl_2018_47_place.shp',
 './POIData/tl_2018_48_place.shp',
 './POIData/tl_2018_49_place.shp',
 './POIData/tl_2018_50_place.shp',
 './POIData/tl_2018_51_place.shp',
 './POIData/tl_2018_53_place.shp',
 './POIData/tl_2018_54_place.shp',
 './POIData/tl_2018_55_place.shp',
 './POIData/tl_2018_56_place.shp']

In [4]:
df2.shape

(370, 8)

In [14]:
r

['tl_2018_01_place.shp',
 'tl_2018_02_place.shp',
 'tl_2018_04_place.shp',
 'tl_2018_05_place.shp',
 'tl_2018_06_place.shp',
 'tl_2018_08_place.shp',
 'tl_2018_09_place.shp',
 'tl_2018_10_place.shp',
 'tl_2018_11_place.shp',
 'tl_2018_12_place.shp',
 'tl_2018_13_place.shp',
 'tl_2018_15_place.shp',
 'tl_2018_16_place.shp',
 'tl_2018_17_place.shp',
 'tl_2018_18_place.shp',
 'tl_2018_19_place.shp',
 'tl_2018_20_place.shp',
 'tl_2018_21_place.shp',
 'tl_2018_22_place.shp',
 'tl_2018_23_place.shp',
 'tl_2018_24_place.shp',
 'tl_2018_25_place.shp',
 'tl_2018_26_place.shp',
 'tl_2018_27_place.shp',
 'tl_2018_28_place.shp',
 'tl_2018_29_place.shp',
 'tl_2018_30_place.shp',
 'tl_2018_31_place.shp',
 'tl_2018_32_place.shp',
 'tl_2018_33_place.shp',
 'tl_2018_34_place.shp',
 'tl_2018_35_place.shp',
 'tl_2018_36_place.shp',
 'tl_2018_37_place.shp',
 'tl_2018_38_place.shp',
 'tl_2018_39_place.shp',
 'tl_2018_40_place.shp',
 'tl_2018_41_place.shp',
 'tl_2018_42_place.shp',
 'tl_2018_44_place.shp',
 'tl_2018_45_place.shp',
 'tl_2018_46_place.shp',
 'tl_2018_47_place.shp',
 'tl_2018_48_place.shp',
 'tl_2018_49_place.shp',
 'tl_2018_50_place.shp',
 'tl_2018_51_place.shp',
 'tl_2018_53_place.shp',
 'tl_2018_54_place.shp',
 'tl_2018_55_place.shp',
 'tl_2018_56_place.shp']

In [11]:
a = "hello"
a.gsub

In [117]:
for n, ri in zip(r.fields[1:], range(len(r.fields)-1)):
    print(ri, ":" ,n[0])

0 : STATEFP
1 : PLACEFP
2 : PLACENS
3 : GEOID
4 : NAME
5 : NAMELSAD
6 : LSAD
7 : CLASSFP
8 : PCICBSA
9 : PCINECTA
10 : MTFCC
11 : FUNCSTAT
12 : ALAND
13 : AWATER
14 : INTPTLAT
15 : INTPTLON

In [24]:
for n, ri in zip(r.fields[1:], rec.record):
    print(n[0],": ", ri)

STATEFP :  08
PLACEFP :  08070
PLACENS :  02411713
GEOID :  0808070
NAME :  Bow Mar
NAMELSAD :  Bow Mar town
LSAD :  43
CLASSFP :  C1
PCICBSA :  N
PCINECTA :  N
MTFCC :  G4110
FUNCSTAT :  A
ALAND :  1722547
AWATER :  390292
INTPTLAT :  +39.6265942
INTPTLON :  -105.0509145